@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;

  --color-white: #ffffff;
  --color-red: red;
  --color-gray-100: rgb(222, 222, 222);
  --color-gray-200: rgb(203, 200, 200);
  --color-gray-300: gray;
  --color-blue: rgb(65, 144, 240);
  --shadow: -1px 4px 74px -16px rgb(0 0 0 / 15%);
  --overlay-color: rgb(0 0 0 / 30%);
  --color-black: #000000;
}

body {
  margin: 0;
}

h1 {
  margin-top: 3rem;
  font-size: 3.2em;
  line-height: 1.1;
  font-weight: 200;
  margin-bottom: 30px;
}
/* components */

/* search */

.search-container {
  display: flex;
  align-items: flex-start;
  margin-bottom: 30px;
}

.search-container__button {
  background-color: var(--color-gray-200);
  border: none;
  border-radius: 2px;
  height: 40px;
  margin-right: -3px;
  cursor: pointer;
}

.search-container__input {
  margin-bottom: 20px;
  height: 40px;
  width: 216px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: var(--color-gray-200);
  border: none;
  border-radius: 2px;
  outline: none;
}

.search-input::placeholder {
  color: var(--color-black);
}

.search-container__icon {
  height: 70%;
  padding-left: 6px;
}

/* trip-card */

.trip-card-container {
  width: 250px;
  height: 350px;
  border: 1px solid var(--color-gray-100);
  display: inline-block;
  cursor: pointer;
  margin-right: 15px;
}

.trip-card-container:hover {
  transform: scale(1.1);
  transition: 2s;
}

.trip-card-container__image {
  width: 100%;
  height: 70%;
  object-fit: cover;
}

.trip-card-container__city-title {
  padding: 20px 20px;
  /* margin-left: 20px; */
}

.trip-card-container__dates {
  color: var(--color-gray-300);
  margin-left: 20px;
  margin-bottom: 20px;
}

/* add-trip-button */

.add-trip-button {
  width: 250px;
  height: 245px;
  cursor: pointer;
  border: 1px solid var(--color-gray-100);
}

.add-trip-button__text {
  font-size: 20px;
  line-height: 1;
}

.plus {
  font-size: 46px;
}

/* trip-modal-window */

.modal {
  position: fixed;
  inset: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  background-color: var(--overlay-color);
}

.trip-popup {
  position: relative;
  flex: 1;
  max-width: 380px;
  padding: 10px 36px 30px;
  background-color: var(--color-white);
  box-shadow: var(--shadow);
}

.trip-popup__title {
  font-size: 18px;
  border-bottom: 1px solid var(--color-gray-100);
  padding-bottom: 20px;
  padding-top: 20px;
  margin-bottom: 50px;
}

.trip-popup__close {
  position: absolute;
  top: 24px;
  right: 40px;
  padding: 0;
  font-weight: 200;
  font-size: 36px;
  line-height: 1;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  opacity: 0.7;
}

.trip-popup__form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.star--red {
  color: var(--color-red);
}

.input__heading {
  display: block;
  margin-bottom: 10px;
}

input[type="date"],
label.input select[name="city"] {
  width: 100%;
  box-sizing: border-box;
  border: 1px solid var(--color-gray-100);
  height: 40px;
  padding-left: 5px;
  padding-right: 5px;
  color: rgb(169, 166, 166);
  margin-bottom: 15px;
}

.input-container {
  padding-bottom: 40px;
  margin-bottom: 20px;
  border-bottom: 1px solid var(--color-gray-100);
}

.buttons-container {
  display: flex;
  justify-content: flex-end;
}

.button {
  border: none;
  padding: 10px 20px;
}

.button--gray {
  background-color: var(--color-white);
  border: 1px solid var(--color-gray-100);
  margin-right: 10px;
}

.button--blue {
  background-color: var(--color-blue);
  color: var(--color-white);
}

/* weather-forecast */

.wheather-forecast-container {
  display: inline-block;
  margin-right: 15px;
}

.wheather-forecast-container__temperature,
.wheather-forecast-container__weekday {
  text-align: center;
  margin-bottom: 15px;
}

.wheather-forecast-container__weekday {
  color: var(--color-gray-300);
}

.wheather-forecast-container__icon {
  margin-bottom: 15px;
}

.wheather-forecast-container__temperature {
  color: var(--color-black);
}

/* slider */

#slider {
  height: calc(100% + 20px);
}

/* loader */

.loader {
  width: 60px;
  height: 60px;
  border: 4px solid var(--color-blue);
  border-top: 4px solid transparent;
  border-radius: 50%;
  animation: rotate 1.2s infinite linear;
}

/* countdown timer */

.timer-container {
  display: flex;
  align-items: center;
}

.timer-content {
  text-align: center;
  margin-right: 36px;
  color: var(--color-white);
}

.timer-content:last-child {
  margin-right: 0;
}

.timer-content__title {
  display: block;
  font-size: 9px;
}

.timer-content__count-numbers {
  font-weight: 1000;
}

/* layout */

.container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.subheader-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

/* trips */

.trips-container {
  display: flex;
  margin-bottom: 30px;
}

/* sidebar */

.sidebar-city,
.sidebar-weekday {
  text-align: center;
  margin-bottom: 20px;
}

.sidebar {
  background-image: url(/backgrounds/clouds.png);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 50px;
}

.sidebar-icon {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.sidebar-temperature {
  font-size: 36px;
}

.sidebar-temperature--celcium {
  font-size: 0.7em;
}

.sidebar-weekday {
  font-size: 28px;
}

.sidebar-city {
  font-size: 20px;
  margin-bottom: 120px;
}

.sidebar-city,
.sidebar-temperature,
.sidebar-weekday {
  color: var(--color-white);
}

.weather-forecast__title {
  font-size: 38px;
  margin-bottom: 20px;
}

/* social buttons */

.google-login__button {
  position: absolute;
  top: 134px;
  right: 166px;
}

.google-photo {
  border-radius: 50%;
  width: 40px;
}

.facebook-login__button {
  position: absolute;
  top: 76px;
  right: 162px;
}

.facebook-container {
  color: var(--color-blue);
  background-color: var(--color-white);
  border-radius: 2px;
  padding: 5px 10px;
  font-weight: 500;
}
